body{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.div-wrapper{
    width: 500px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "a1 a1 a2 a2 a2 a3 a4"
    "b1 b2 b2 b2 b2 b3 b3"
    "c1 b2 b2 b2 b2 c2 c3";
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(10,1fr);
}

.item{
    border: 2px solid black;
    /* width: 100px;
    height: 50; */
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}
yellow{
    background-color: yellow;
}
.blue{
    background-color:blue;
}

.a1{
    grid-area: a1;
}

.a2{
    grid-area: a2;
}

.a3{
    grid-area: a3;
}

.a4{
    grid-area: a4;
}

.b1{
    grid-area: b1;
}
.b2{
    grid-area: b2;
}
.b3{
    grid-area: b3;
}
.c1{
    grid-area: c1;
}
.c2{
    grid-area: c2;
}
.c3{
    grid-area: c3;
}
